@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  background: transparent;
}

#menu-image {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  min-height: 100vh;
  max-width: 1400px;
}
header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
nav {
  display: flex;
  gap: 30vw;
  position: fixed;
  background-color: white;
  height: 80px;
  opacity: 97%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#logo {
  width: 250px;
  height: auto;
}
nav > ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  font-weight: bold;
  color: gray;
}
#About-Us {
  color: #00b39b;
}
.header-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.Grand-titre {
  color: #00b39b;
  width: 100%;
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
}
.header-infos-p {
  display: flex;
  flex-direction: row;
  line-height: 1.75;
  gap: 3rem;
  padding: 0 16vw;
}
.paragraph {
  color: gray;
  line-height: 1.75;
}
/* <!--     section01     --> */
.section-1-infos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 16vw;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}
.section-1-infos01 {
  background-color: #00b39b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 40%;
  padding: 2rem;
}
.section-1-infos-t {
  color: white;
  font-size: 1.8rem;
}
.section-1-infos-p {
  color: white;
  font-size: 1.7rem;
}
.section-1-infos02 {
  background-color: #008fb3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  justify-content: space-around;
  padding: 2rem;
}
.section-1-infos03 {
  background-color: #23312f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 40%;
  padding: 2rem;
}
.selection-1 {
  margin-top: 30px;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  text-decoration: underline;
}
.option {
  color: black;
}
.selection-2 {
  margin-top: -1px;
  margin-bottom: -30px;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  text-decoration: underline;
}
/* <!--     section02     --> */
.section-2-infos {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 0 15vw;
  margin-bottom: 3.5rem;
}
.section-2-infos > h2 {
  width: 30%;
  text-align: left;
  font-size: 1.6rem;
}
.images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.9rem;
}
.image-1 {
  display: flex;
  gap: 4rem;
  cursor: pointer;
}
.image-2 {
  display: flex;
  gap: 4rem;
}
.image-3 {
  display: flex;
  gap: 4rem;
  margin-top: -1rem;
}
.image-1 > a {
  filter: grayscale(100%);
  opacity: 60%;
}
.image-1 > a:hover {
  filter: grayscale(0%);
  opacity: 100%;
}
.image-2 > a {
  filter: grayscale(100%);
  opacity: 60%;
}
.image-2 > a:hover {
  filter: grayscale(0%);
  opacity: 100%;
}
.image-3 > a {
  filter: grayscale(100%);
  opacity: 40%;
}
.image-3 > a:hover {
  filter: grayscale(0%);
  opacity: 100%;
}
/* <!--     section03     --> */
.section3-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  background-color: #00b39b28;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 10% 5.5%;
}
.section3-infos01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  width: 40%;
  margin-top: 19vw;
  padding: 2rem;
  text-align: start;
}
.section3-infos01 > h2 {
  width: 70%;
  font-size: 2.1rem;
  text-align: start;
}
.section3-infos01 > p {
  width: 100%;
  text-align: start;
}
.section3-infos01 > img {
  width: 500px;
  height: 500px;
  align-items: flex-start;
  margin-left: -10rem;
}
.section3-infos00 {
  display: flex;
  align-items: center;
  gap: 17%;
}
.section3-infos02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 40%;
  margin-top: 5%;
}
.section-1-infos02-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  background-color: #ffffff;
  border-radius: 15px;
  height: 16rem;
  width: 14rem;
}
.section-1-infos02-1 > .section-1-infos-t {
  color: #00b39b;
  text-align: center;
  font-weight: lighter;
  font-size: 25px;
}
.section-1-infos02-1 > .section-1-infos-p {
  color: #23312f;
  text-align: center;
  font-size: 14px;
}
.section3-infos03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 40%;
  margin-top: -3%;
}
/* <!--     section04     --> */
.section4-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 5rem auto;
}
.section-4-infos01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.section-4-infos01 > p {
  text-align: center;
  width: 40%;
}
.section-4-infos02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}
#pic0 {
  display: none;
}
.line01 {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.line01-01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px 0.1px 1.1px #23312f8c;
  cursor: pointer;
}
.line01-01 > img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}
.line01-01-info {
  display: flex;
  align-items: center;
  gap: 5rem;
  border: 7px;
  border-color: #23312f;
  padding: 10px;
}
.line01-01-info > h4 {
  color: gray;
  font-size: 20px;
  font-weight: 400;
}
.line01-01:hover {
  box-shadow: 0px 2px 15px #23312f8c;
}
.section-4-infos03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.section-4-infos03 > h2 {
  color: #23312f;
}
.btn {
  color: white;
  font-weight: bold;
  font-size: 10px;
  background-color: #008fb3;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover,
.btn-1:hover {
  background-color: #07637a;
}
.btn-1 {
  color: white;
  font-weight: bold;
  font-size: small;
  background-color: #008fb3;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
/* <!--     footer     --> */
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 25vh;
  box-shadow: 0px 0.1px 1.1px #23312f8c;
  margin: 0 auto;
  padding: 9px;
}
footer > p {
  width: 60%;
  line-height: 90px;
  font-size: 11px;
}

@media screen and (max-width: 850px) {
  #menu-image {
    display: flex;
  }
  .Menu {
    display: flex;
    flex-direction: row;
    gap: 30vw;
    position: fixed;
    background-color: white;
    height: 80px;
    opacity: 97%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  nav > ul {
    display: none;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
  }
  .header-infos-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 95%;
    padding: 2rem;
  }
  .section-1-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem;
    margin: 0;
  }
  .section-1-infos01,
  .section-1-infos02,
  .section-1-infos03 {
    width: 100%;
  }
  .section-2-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-2-infos > h2 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
  .image-1 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .image-2 {
    display: flex;
    flex-direction: column;
  }
  .image-3 {
    display: flex;
    flex-direction: column;
    padding-right: -2px;
  }
  .section3-infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 180vh;
    width: 100%;
    overflow: visible;
  }
  .section3-infos01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10%;
    width: 100%;
  }
  .section3-infos01 > img {
    display: none;
  }
  .section3-infos01 > H2 {
    width: 90%;
    text-align: center;
  }
  .section3-infos01 > p {
    width: 100%;
    text-align: center;
  }
  .section3-infos00 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
  }
  .section-1-infos02-1 {
    width: 130%;
  }
  .section4-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-4-infos01 > p {
    width: 100%;
    text-align: center;
  }
  .section-4-infos02 {
    display: none;
  }
  #pic0 {
    display: flex;
  }
  footer > p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    width: 90%;
  }
}
